<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Delete User</title>
</head>
<body>
<h1>Delete a User:</h1>
<form action="/" method="get">
    <button type="submit">Home</button>
</form>
<br>
<form th:action="@{/delete}"
      th:object="${userForm}" method="POST">
    Id:
    <label>
        <input type="number" th:field="*{id}"/>
    </label>
    <br>
    <br/>
    <input type="submit" value="Delete"/>
</form>
<br/>

<!-- Check if errorMessage is not null and not empty -->
<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
    ...
</div>

</body>
</html>